<!-- Sidebar -->
<div class="sidenav"
     [ngClass]="[
       collapsed ? 'sidenav-collapsed' : '',
       isMobileMenuOpen ? 'show' : ''
     ]"
     (click)="$event.stopPropagation()">   <!-- Prevent outside click from closing -->
  <button class="hamburger" (click)="toggleMobileMenu()" *ngIf="screenWidth <= 768">
  <i class="fas" [ngClass]="isMobileMenuOpen ? 'fa-times' : 'fa-bars'"></i>
</button>
  <div class="logo-container">
    <ng-container *ngIf="screenWidth > 768 && collapsed">
      <div class="logo-text">{{ adminData?.adminName?.split(' ')[0] }}</div>
    </ng-container>

    <ng-container *ngIf="screenWidth <= 768 && collapsed">
      <div class="logo-text">Vikas L</div>
      <div class="btn-closes" (click)="closeSidenave()">
        <span class="material-symbols-outlined">close</span>
      </div>
    </ng-container>
  </div>

  <ul class="side-nav">
    <li class="side-nav-item" *ngFor="let data of navdata">
      <a class="side-nav-link"
         [routerLink]="[data.routerLink]"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">
        <i class="sidenav-link-icon" [class]="data.icon"></i>

        <span class="sidenav-link-text" *ngIf="collapsed">
          {{ data.label | translate }}
        </span>
      </a>
    </li>
  </ul>
</div>
