<div class="auth-wrapper">
  <div class="auth-card">
    <h2>{{ isLoginMode ? 'Login' : 'Register' }}</h2>

    <!-- Login Form -->
    <form *ngIf="isLoginMode" [formGroup]="loginForm" (ngSubmit)="login()">
      <input type="text" formControlName="mobileNumber" placeholder="Mobile Number">
      
      <div class="password-wrapper">
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Password">
        <span class="toggle" (click)="togglePassword()">
          {{ showPassword ? 'Hide' : 'Show' }}
        </span>
      </div>

      <button type="submit">Login</button>
      <!-- <p class="switch" (click)="toggleMode()">Don't have an account? Register</p> -->
    </form>

    <!-- Register Form -->
    <form *ngIf="!isLoginMode" [formGroup]="registerForm" (ngSubmit)="register()">
      <input type="number" formControlName="adminId" placeholder="Admin ID">
      <input type="text" formControlName="name" placeholder="Name">
      <input type="text" formControlName="address" placeholder="Address">
      <input type="text" formControlName="aadhaar" placeholder="Aadhaar">
      <input type="text" formControlName="panCard" placeholder="Pan Card">
      <input type="text" formControlName="mobileNumber" placeholder="Mobile Number">
      <input type="text" formControlName="role" placeholder="Role">
      <input type="text" formControlName="factoryName" placeholder="Factory Name">

      <div class="password-wrapper">
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Password">
        <span class="toggle" (click)="togglePassword()">
          {{ showPassword ? 'Hide' : 'Show' }}
        </span>
      </div>

      <button type="submit">Register</button>
      <p class="switch" (click)="toggleMode()">Already have an account? Login</p>
    </form>

    <p class="message">{{ message }}</p>
  </div>
</div>
