<div class="auth-wrapper">
  <div class="auth-card">
    <!-- Left Image -->
    <div class="auth-left">
      <img src="/assets/images/Nksboss.jpg" alt="Login Banner">
    </div>

    <!-- Right Form -->
    <div class="auth-right">
      <h2>{{ isLoginMode ? 'Login' : 'Register' }}</h2>

      <!-- Login Form -->
      <form *ngIf="isLoginMode" [formGroup]="loginForm" (ngSubmit)="login()">
        <label>Mobile Number</label>
        <input type="text" formControlName="mobileNumber" placeholder="Mobile Number">
        
        <label>Password</label>
        <div class="password-wrapper">
          <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Password">
          <span class="toggle" (click)="togglePassword()">
            {{ showPassword ? 'Hide' : 'Show' }}
          </span>
        </div>

        <button type="submit">Login</button>
      </form>

      <!-- Register Form -->
      <form *ngIf="!isLoginMode" [formGroup]="registerForm" (ngSubmit)="register()">
        <label>Admin ID</label>
        <input type="number" formControlName="adminId" placeholder="Admin ID">
        <label>Name</label>
        <input type="text" formControlName="name" placeholder="Name">
        <label>Address</label>
        <input type="text" formControlName="address" placeholder="Address">
        <label>Aadhaar</label>
        <input type="text" formControlName="aadhaar" placeholder="Aadhaar">
        <label>Pan Card</label>
        <input type="text" formControlName="panCard" placeholder="Pan Card">
        <label>Mobile Number</label>
        <input type="text" formControlName="mobileNumber" placeholder="Mobile Number">
        <label>Role</label>
        <input type="text" formControlName="role" placeholder="Role">
        <label>Factory Name</label>
        <input type="text" formControlName="factoryName" placeholder="Factory Name">

        <label>Password</label>
        <div class="password-wrapper">
          <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Password">
          <span class="toggle" (click)="togglePassword()">
            {{ showPassword ? 'Hide' : 'Show' }}
          </span>
        </div>

        <button type="submit">Register</button>
        <p class="switch" (click)="toggleMode()">Already have an account? Login</p>
      </form>

      <p class="message">{{ message }}</p>
    </div>
  </div>
</div>