.container {
  max-width: 800px;
  max-width: 950px;
  margin: 20px auto;
}

.title {
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 15px;
  text-align: center;
}

.table {
  border-radius: 10px;
  overflow: hidden;
}

.card {
.modal-content {
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

input, select {
  border-radius: 8px !important;
}
button {
  border-radius: 8px;
}

.loading {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  color: #007bff;
}
.search-popup {
  position: absolute;
  z-index: 1000;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  top: 70px; /* adjust based on input position */
}
.search-popup .list-group-item {
  cursor: pointer;
}
.search-popup .list-group-item:hover {
  background-color: #f1f1f1;
}




